<div class="main-wrapper">
    <div class="image-container">
        <div class="middle-container">
            <div class="text-container">
                <div class="title-container">
                <span class="top-title">
                <h1>
                    THE #1 UNIVERSAL AND GALACTIC
                </h1>
                <span class="sub-title">
                    Wedding Registry, Baby Registry and Gift Registry for all occasions
                </span>
                    <a ng-href="/#login"class="wishlist-button m-t-1">
                          CREATE YOUR FREE REGISTRY
                    </a>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>
