<div>
  <div class="modal-header">
    <h3 class="modal-title">Edit Product</h3>
  </div>
  <div class="modal-body">
    <div class="products">
      <div>
        <p>Picture:</p>
        <input type="file" accept="image/*" ng-model="product.picture"/>
        <p>Product name:</p>
        <input ng-model="product.name"  type="text" id="productName" class="form-control" placeholder="Name"
               required="">
        <p>Provider:</p>
        <input ng-model="product.provider"  type="text" id="productProvider" class="form-control" placeholder="Provider"
               required="">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="addProduct(product)">Add</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</div>
