$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  margin-top: 530px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.navbar-nav {
  float: none;

  .user {
    padding-top: 15px;
  }
}

.container {
  max-width: 1024px;
}

.form-signin {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  .image-container {
    background-image: url('https://s3.amazonaws.com/static.myregistry.com/cm/HomePage/Background_2_480189810.jpg');
    background-position: 14% 0%;
    background-size: cover;
    left: 0;
    right: 0;
    width: 100%;
    height: 490px;
    position: absolute;

    .middle-container {
      margin: 0 auto;
      max-width: 1366px;

      .text-container {
        position: relative;
        float: right;
        margin-right: 8%;
        text-align: center;
        width: 724px;

        .title-container {
          margin: 40px 0 24px;

          .top-title {
          h1 {
            font-weight: 300;
            font-size: 26px;
            display: block;
          }

            .sub-title {
              font-size: 43px;
              line-height: 50px;
              display: block;
              color: #3a3c41;
              font-weight: lighter;
              padding-bottom: 24px;
            }
          }
        }
      }
    }
  }
}