<div class="container">

  <form name="registerForm" ng-submit="register()" class="form-signin">
    <h2 class="form-signin-heading">Please register</h2>
    <label for="firstName" class="sr-only">First Name</label>
    <input ng-model="user.firstName" type="text" id="firstName" class="form-control" placeholder="FirstName"
           required="" autofocus="">
    <label for="lastName" class="sr-only">Last Name</label>
    <input ng-model="user.lastName" type="text" id="lastName" class="form-control" placeholder="LastName"
           required="">
    <label for="email" class="sr-only">Email</label>
    <input ng-model="user.email" type="email" id="email" class="form-control" placeholder="Email"
           required="">
    <label for="username" class="sr-only">Username</label>
    <input ng-model="user.username" type="text" id="username" class="form-control" placeholder="Username"
           required="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password"
           required="">

    <button class="submit-button btn btn-lg btn-primary btn-block" type="submit">Register</button>
  </form>

</div>
