/* line 1, ../../app/styles/wishlist.scss */
.add-wishlist {
  margin-bottom: 50px;
  background-color: #00b388;
  color: white;
  font-size: 16px;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.4);
  padding: 4px 16px;
}

/* line 11, ../../app/styles/wishlist.scss */
.wishlist-button {
  background: -moz-linear-gradient(center top, #5e9be1 5%, #4372a8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e9be1', endColorstr='#4372a8');
  background-color: #5e9be1;
  border-radius: 2px 2px 2px 2px;
  box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: arial;
  font-size: 14px;
  font-weight: normal;
  padding: 4px 16px;
  text-decoration: none;
  margin-bottom: 8px;
}

/* line 31, ../../app/styles/wishlist.scss */
.wishlists .row-wrapper, .products .row-wrapper {
  padding-bottom: 8px;
}
/* line 35, ../../app/styles/wishlist.scss */
.wishlists .row-wrapper .delete, .products .row-wrapper .delete {
  text-decoration: underline;
  cursor: pointer;
  display: none;
  color: #0040D0;
}
/* line 43, ../../app/styles/wishlist.scss */
.wishlists .row-wrapper:hover .delete, .products .row-wrapper:hover .delete {
  display: inline;
}

/*# sourceMappingURL=wishlist.css.map */