<div>
    <button class="btn btn-primary" ng-click="addProduct(product)">Add product</button>
    <label for="searchWord" class="sr-only">Username</label>
    <input ng-model="searchWord" type="text" id="searchWord" class="form-control" placeholder="Search"
           required="">
</div>

<ul class="product" ng-repeat="product in model.products">
    <li class="image-container" ng-show="showProduct(product)">
        <div class="button-container">
            <div class="button-wrapper">
                <a class="gift-button" ng-click="openWishlistsModal(product)">Add to Wishlist</a>
                <a class="gift-button" ng-show="showEdit()" ng-click="openProductModal(product)">Edit</a>
            </div>
        </div>
        <div>
            <img class="picture" ng-src="data:image/JPEG;base64,{{product.picture}}">
            {{product.name}}
            {{product.provider}}
        </div>
    </li>
</ul>
